{% extends 'main.html' %}
{% block content %}

<div class="header-bar">
    <div>
        <h1>Hola {{ request.user|title}}</h1>
        <h3 style="margin: 0;">Bienvenido al sistema de administración de luces de calle</h3>
    </div>

    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Cerrar sesión</a>
    {% else %}
    <a href="{% url 'login'  %}">Iniciar sesión	</a>
{% endif %}


</div>
<body>
    <!-- Título de la página -->
    <h1>Opciones</h1>
    <div class="grid-container">
        <!-- Botón para revisar sensores de luz -->
        <button class="grid-buttons" id="revisar-sensor-luz">Revisar sensores de luz</button>
        <!-- Botón para revisar el sensor de proximidad -->
        <button class="grid-buttons" id="revisar-sensor-proximidad">Revisar sensor de proximidad</button>
        <!-- Botón para predecir el clima -->
        <button class="grid-buttons" id="predecir-clima">Predicción de clima</button>
        <!-- Botón para asignar el estado del sensor de voltaje -->
        <button class="grid-buttons" id="asignar-estado-sensor-voltaje">Sensores de voltaje</button>
        <!-- Botón para revisar notificaciones sistema de trafico -->
        <button class="grid-buttons" id="revisar-notificacion-trafico">Notificaciones sistema de tráfico</button>
        <!-- Botón para revisar notificaciones sistema de mantenimiento vial -->
        <button class="grid-buttons" id="revisar-notificacion-vial">Notificaciones sistema de mantenimiento vial</button>
        <!-- Botón para revisar sensores de proximidad en cruces -->
        <button class="grid-buttons" id="revisar-sensor-cruce">Revisar sensores de proximidad de vehiculo en cruce</button>
        <!-- Botón para revisar notificaciones proveedor servicios de emergencia -->
        <button class="grid-buttons" id="revisar-notificacion-emergencia">Notificaciones del proveedor de servicios de emergencia</button>
    </div>

    <!-- Div para el popup, inicialmente oculto -->
    <div id="popup" style="display: none;">
        <!-- Párrafo para el texto del popup -->
        <p id="popup-text"></p>
        <!-- Botón para aceptar la acción recomendada -->
        <button class="grid-buttons" id="aceptar-accion">Aceptar acción recomendada</button>
        <!-- Botón para cancelar -->
        <button class="grid-buttons" id="cancelar">Cancelar</button>
    </div>

     <!-- Div para el popup del caso de uso 4, 5 y 8, inicialmente oculto -->
     <div id="popup-trafico" style="display: none;">
        <!-- Párrafo para el texto del popup -->
        <p id="popup-text-trafico"></p>
        <!-- Div para el botón de Ajustar lucees, alineado al centro -->
        <div style="display: flex; justify-content: center;">
            <button class="grid-buttons" id="aceptar-accion-trafico" style="display: none;">Ajustar luces para tráfico de vehículo de emergencia </button>
            <button class="grid-buttons" id="aceptar-accion-emergencia" style="display: none;">Ajustar luces de la ruta para tráfico de vehículo de emergencia </button>
            <button class="grid-buttons" id="aceptar-accion-vial" style="display: none;">Ajustar luces para señalar ruta alternativa </button>
            <!-- Botón para cancelar -->
            <button class="grid-buttons" id="cancelar-trafico" style="display: none;">Cancelar</button>
        </div>
    </div>

    <!-- Div para la alerta, inicialmente oculta -->
    <div id="alerta" style="display: none;">
        <!-- Párrafo para el mensaje de la alerta -->
        <p id="mensaje"></p>
        <!-- Div para el botón de notificar, alineado al centro -->
        <div style="display: flex; justify-content: center;">
            <!-- Botón para notificar, inicialmente oculto -->
            <button class="grid-buttons" id="notificar" style="display: none;">Notificar</button>
        </div>
    </div>

    <script>
        // Función para obtener el valor de una cookie
        function getCookie(name) {
            // Inicializamos el valor de la cookie a null
            let cookieValue = null;
            // Si hay cookies
            if (document.cookie && document.cookie !== '') {
                // Dividimos las cookies en un array
                const cookies = document.cookie.split(';');
                // Para cada cookie
                for (let i = 0; i < cookies.length; i++) {
                    // Quitamos los espacios en blanco al principio y al final
                    const cookie = cookies[i].trim();
                    // Si el nombre de la cookie coincide con el nombre que estamos buscando
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        // Decodificamos el valor de la cookie y lo guardamos
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        // Salimos del bucle
                        break;
                    }
                }
            }
            // Devolvemos el valor de la cookie
            return cookieValue;
        }

        // Añadimos un controlador de eventos de clic al botón para revisar el sensor de proximidad
        document.getElementById('revisar-sensor-proximidad').addEventListener('click', function() {
            // Hacemos una petición POST a la URL '/revisar_sensor_proximidad/'
            fetch('/revisar_sensor_proximidad/', {method: 'POST'})
                // Convertimos la respuesta a JSON
                .then(response => response.json())
                .then(data => {
                    // Si hay sectores en los que se detectó un peatón o vehículo de emergencia
                    if (data.sectores.length > 0) {
                        // Mostramos un mensaje en el popup y preguntamos si se desea realizar la acción recomendada
                        document.getElementById('popup-text').textContent = 'Se detectó peatón o vehículo de emergencia en los sectores ' + data.sectores.join(', ') + '. ¿Desea realizar la acción recomendada?';
                    } else {
                        // Si no se detectó ningún peatón o vehículo de emergencia, mostramos un mensaje en el popup
                        document.getElementById('popup-text').textContent = 'No se detectó ningún peatón o vehículo de emergencia.';
                    }
                    // Mostramos el popup
                    document.getElementById('popup').style.display = 'block';
                });
        });
        // Añadimos un controlador de eventos de clic al botón para revisar el sensor de cruce
        document.getElementById('revisar-sensor-cruce').addEventListener('click', function() {
            // Hacemos una petición POST a la URL '/revisar_sensor_proximidad/'
            fetch('/revisar_sensor_proximidad/', {method: 'POST'})
            // Convertimos la respuesta a JSON
                .then(response => response.json())
                .then(data => {
                    // Si hay sectores en los que se detectó un peatón o vehículo de emergencia
                    if (data.sectores.length > 0) {
                        // Mostramos un mensaje en el popup y preguntamos si se desea realizar la acción recomendada
                        document.getElementById('popup-text').textContent = 'Se detectó vehículo en cruce en los sectores ' + data.sectores.join(', ') + '. ¿Desea realizar la acción recomendada?';
                    } else {
                        // Si no se detectó ningún vehículo en cruce, mostramos un mensaje en el popup
                        document.getElementById('popup-text').textContent = 'No se detectó ningún vehículo en cruce.';
                    }
                    // Mostramos el popup
                    document.getElementById('popup').style.display = 'block';
                });
        });
         // Añadimos un controlador de eventos de clic al botón para revisar el sensor de luz
        document.getElementById('revisar-sensor-luz').addEventListener('click', function() {
            // Hacemos una petición POST a la URL '/revisar_sensor_proximidad/'
            fetch('/revisar_estado_luminosidad/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': getCookie('csrftoken') // Usamos la función getCookie para obtener el token CSRF
                }
            })
                // Convertimos la respuesta a JSON
                .then(response => response.json())
                .then(data => {
                    // Si hay sectores en los que se detectó un peatón o vehículo de emergencia
                    if (data.sectores.length > 0) {
                        // Mostramos un mensaje en el popup y preguntamos si se desea realizar la acción recomendada
                        document.getElementById('popup-text').textContent = 'Se detectaron variaciones de luminosidad en los sectores ' + data.sectores.join(', ') + '. ¿Desea realizar la acción recomendada?';
                    } else {
                        // Si no se detectó ningún vehículo en cruce, mostramos un mensaje en el popup
                        document.getElementById('popup-text').textContent = 'Niveles normales de luminosidad detectados.';
                    }
                    // Mostramos el popup
                    document.getElementById('popup').style.display = 'block';
                });
        });
        // Añadimos un controlador de eventos de clic al botón para revisar las notificaciones del sistema de trafico
        document.getElementById('revisar-notificacion-trafico').addEventListener('click', function() {
            // Hacemos una petición POST a la URL '/revisar_notificacion_trafico/'
            fetch('/revisar_notificacion_trafico/', {method: 'POST'})
                // Convertimos la respuesta a JSON
                .then(response => response.json())
                .then(data => {
                    const aceptar = document.getElementById('aceptar-accion-trafico');
                    const cancelar = document.getElementById('cancelar-trafico');
                    document.getElementById('aceptar-accion-emergencia').style.display = 'none'; //Para evitar errores
                    // Si se detecto una notificacion
                    if (data.alerta == true) {
                        // Mostramos un mensaje en el popup y preguntamos si se desea realizar la acción recomendada
                        aceptar.style.display = 'block';
                        cancelar.style.display = 'block';
                        document.getElementById('popup-text-trafico').textContent = data.notificacion + '. ¿Desea realizar la acción recomendada?';
                    } else {
                        // Si no se detectó ningún dispositivo afectado por vehículo de emergencia, mostramos un mensaje en el popup
                        aceptar.style.display = 'none';
                        cancelar.style.display = 'none';
                        document.getElementById('popup-text-trafico').textContent = data.notificacion;
                    }
                    // Mostramos el popup
                    document.getElementById('popup-trafico').style.display = 'block';
                });
        });

        // Añadimos un controlador de eventos de clic al botón para aceptar la acción recomendada
        document.getElementById('aceptar-accion-trafico').addEventListener('click', function() {
            // Obtenemos el texto del popup
            var popupText = document.getElementById('popup-text-trafico').textContent;
            // Hacemos una petición POST a la URL '/ajustar_trafico_vehiculos_emergencia/'
            fetch('/ajustar_trafico_vehiculos_emergencia/', {method: 'POST'})
                .then(response => response.json())
                .then(data => {
                    // Mostramos un mensaje con la respuesta del servidor
                    alert(data.message);
                    // Ocultamos el popup
                    document.getElementById('popup-trafico').style.display = 'none';
                });
        });

        // Añadimos un controlador de eventos de clic al botón para revisar las notificaciones del proveedor de servicios de emergencia
        document.getElementById('revisar-notificacion-emergencia').addEventListener('click', function() {
            // Hacemos una petición POST a la URL '/revisar_notificacion_trafico/'
            fetch('/revisar_notificacion_emergencia/', {method: 'POST'})
                // Convertimos la respuesta a JSON
                .then(response => response.json())
                .then(data => {
                    const aceptar = document.getElementById('aceptar-accion-emergencia');
                    const cancelar = document.getElementById('cancelar-trafico');
                    document.getElementById('aceptar-accion-trafico').style.display = 'none'; //Para evitar errores
                    // Si se detecto una notificacion
                    if (data.alerta == true) {
                        // Mostramos un mensaje en el popup y preguntamos si se desea realizar la acción recomendada
                        aceptar.style.display = 'block';
                        cancelar.style.display = 'block';
                        document.getElementById('popup-text-trafico').textContent = data.notificacion + '. ¿Desea realizar la acción recomendada?';
                    } else {
                        // Si no se detectó ningún dispositivo afectado por vehículo de emergencia, mostramos un mensaje en el popup
                        aceptar.style.display = 'none';
                        cancelar.style.display = 'none';
                        document.getElementById('popup-text-trafico').textContent = data.notificacion;
                    }
                    // Mostramos el popup
                    document.getElementById('popup-trafico').style.display = 'block';
                });
        });

        // Añadimos un controlador de eventos de clic al botón para aceptar la acción recomendada
        document.getElementById('aceptar-accion-emergencia').addEventListener('click', function() {
            // Obtenemos el texto del popup
            var popupText = document.getElementById('popup-text-trafico').textContent;
            // Hacemos una petición POST a la URL '/ajustar_trafico_vehiculos_emergencia/'
            fetch('/ajustar_trafico_vehiculos_emergencia/', {method: 'POST'})
                .then(response => response.json())
                .then(data => {
                    // Mostramos un mensaje con la respuesta del servidor
                    alert(data.message);
                    // Ocultamos el popup
                    document.getElementById('popup-trafico').style.display = 'none';
                });
        });

        // Añadimos un controlador de eventos de clic al botón para revisar las notificaciones del sistema de mantenimiento vial
        document.getElementById('revisar-notificacion-vial').addEventListener('click', function() {
            // Hacemos una petición POST a la URL '/revisar_notificacion_vial/'
            fetch('/revisar_notificacion_vial/', {method: 'POST'})
                // Convertimos la respuesta a JSON
                .then(response => response.json())
                .then(data => {
                    const aceptar = document.getElementById('aceptar-accion-vial');
                    const cancelar = document.getElementById('cancelar-trafico');
                    document.getElementById('aceptar-accion-trafico').style.display = 'none'; //Para evitar errores
                    document.getElementById('aceptar-accion-emergencia').style.display = 'none'; //Para evitar errores
                    // Si se detecto una notificacion
                    if (data.alerta == true) {
                        // Mostramos un mensaje en el popup y preguntamos si se desea realizar la acción recomendada
                        aceptar.style.display = 'block';
                        cancelar.style.display = 'block';
                        document.getElementById('popup-text-trafico').textContent = data.notificacion + '. ¿Desea realizar la acción recomendada?';
                    } else {
                        // Si no se detectó ningún dispositivo afectado por vehículo de emergencia, mostramos un mensaje en el popup
                        aceptar.style.display = 'none';
                        cancelar.style.display = 'none';
                        document.getElementById('popup-text-trafico').textContent = data.notificacion;
                    }
                    // Mostramos el popup
                    document.getElementById('popup-trafico').style.display = 'block';
                });
        });

        // Añadimos un controlador de eventos de clic al botón para aceptar la acción recomendada
        document.getElementById('aceptar-accion-vial').addEventListener('click', function() {
            // Obtenemos el texto del popup
            var popupText = document.getElementById('popup-text-trafico').textContent;
            // Hacemos una petición POST a la URL '/ajustar_via_alterna/'
            fetch('/ajustar_via_alterna/', {method: 'POST'})
                .then(response => response.json())
                .then(data => {
                    // Mostramos un mensaje con la respuesta del servidor
                    alert(data.message);
                    // Ocultamos el popup
                    document.getElementById('popup-trafico').style.display = 'none';
                });
        });

    // Añadimos un controlador de eventos de clic al botón para predecir el clima
        document.getElementById('predecir-clima').addEventListener('click', function() {
            // Hacemos una petición POST a la URL '/predecir_clima/'
            fetch('/predecir_clima/', {method: 'POST'})
                .then(response => response.json())
                .then(data => {
                    // Mostramos un mensaje en el popup con la predicción del clima y preguntamos si se desea realizar la acción recomendada
                    document.getElementById('popup-text').textContent = 'Se predice ' + data.clima + ' en el sector ' + data.sector + ' en los próximos 30 minutos. ¿Desea realizar la acción recomendada?';
                    // Mostramos el popup
                    document.getElementById('popup').style.display = 'block';
                });
        });

        // Añadimos un controlador de eventos de clic al botón para aceptar la acción recomendada
        document.getElementById('aceptar-accion').addEventListener('click', function() {
            // Obtenemos el texto del popup
            var popupText = document.getElementById('popup-text').textContent;
            // Si el texto del popup empieza con 'Se detectó', es que se detectó un peatón o vehículo de emergencia
            if (popupText.startsWith('Se detectó')) {
                // Hacemos una petición POST a la URL '/aceptar_accion_recomendada/'
                fetch('/aceptar_accion_recomendada/', {method: 'POST'})
                    .then(response => response.json())
                    .then(data => {
                        // Mostramos un mensaje con la respuesta del servidor
                        alert(data.message);
                        // Ocultamos el popup
                        document.getElementById('popup').style.display = 'none';
                    });
            // Si el texto del popup empieza con 'Se predice', es que se predijo un clima
            } else if (popupText.startsWith('Se predice')) {
                // Obtenemos el clima y el sector del texto del popup
                var clima = popupText.split(' ')[2];
                var sector = popupText.split(' ')[6];
                // Hacemos una petición POST a la URL '/aceptar_accion_recomendada_clima/' con el clima y el sector como parámetros
                fetch('/aceptar_accion_recomendada_clima/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: 'clima=' + encodeURIComponent(clima) + '&sector=' + encodeURIComponent(sector)
                })
                    .then(response => response.json())
                    .then(data => {
                        // Mostramos un mensaje con la respuesta del servidor
                        alert(data.message);
                        // Ocultamos el popup
                        document.getElementById('popup').style.display = 'none';
                    });
            } else if (popupText.includes('luminosidad')) {
                fetch('/aceptar_accion_recomendada_luminosidad/', {method: 'POST'})
                    .then(response => response.json())
                    .then(data => {
                        // Mostramos un mensaje con la respuesta del servidor
                        alert(data.message);
                        // Ocultamos el popup
                        document.getElementById('popup').style.display = 'none';
                    });
            }
        });

            // Añadimos un controlador de eventos de clic al botón para asignar el estado del sensor de voltaje
        document.getElementById('asignar-estado-sensor-voltaje').addEventListener('click', function() {
            // Hacemos una petición POST a la URL '/asignar_estado_sensor_voltaje/'
            fetch('/asignar_estado_sensor_voltaje/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': getCookie('csrftoken') // Usamos la función getCookie para obtener el token CSRF
                }
            })
            .then(response => response.json())
            .then(data => {
                // Obtenemos los elementos de la alerta, el mensaje y el botón de notificar
                const alerta = document.getElementById('alerta');
                const mensaje = document.getElementById('mensaje');
                const notificar = document.getElementById('notificar');
                // Mostramos el mensaje de la respuesta del servidor
                mensaje.textContent = data.message;
                // Si la respuesta del servidor indica una alerta, mostramos el botón de notificar
                if (data.alert) {
                    notificar.style.display = 'block';
                } else {
                    // Si no hay alerta, ocultamos el botón de notificar
                    notificar.style.display = 'none';
                }
                // Mostramos la alerta
                alerta.style.display = 'block';
            });
        });

        // Añadimos un controlador de eventos de clic al botón de notificar
        document.getElementById('notificar').addEventListener('click', function() {
            // Mostramos un mensaje de notificación exitosa
            alert('Notificación Exitosa');
            // Redirigimos al usuario a la página principal
            window.location.href = '/'; 
        });

        // Añadimos un controlador de eventos de clic al botón de cancelar
        document.getElementById('cancelar').addEventListener('click', function() {
            // Redirigimos al usuario a la página principal
            window.location.href = '/'; 
        });
        // Añadimos un controlador de eventos de clic al botón de cancelar
        document.getElementById('cancelar-trafico').addEventListener('click', function() {
            // Redirigimos al usuario a la página principal
            window.location.href = '/'; 
        });
    </script>

    

</body>
{% endblock content %}